.container {
  padding: 20px;
  height: '50vh';
  width: 350px;
  margin: 50px auto;
  text-align: center;
  position:relative;
  border-radius:10px;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
}

.icon {
  margin: 0 auto;
}
